* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
}

a:hover {
    color: #b4b95f;
    text-decoration: none;
    font-weight: bold;
}

a {
    font-size: 24px;
    margin: 0 10px 0 10px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

#heading {
    height: 100px;
    background-color: #6543a0;
    align-items: center;
}

#navheader {
    display: flex;
    align-content: center;
}
