* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
}

a {
    font-size: 10px;
    margin: 0 10px 0 10px;
    color: #ffffff;
    text-align: center;
}

a:hover {
    color: #e4cb97;
}

a:link, a:visited {
    text-decoration: none;
}

h1 {

}

ul li {
  float: right;
}

#heading {
    height: 100px;
    background-color: #6543a0;
    align-items: center;
}

#navheader {
    display: flex;
    align-content: center;
}

#navfooter {

}