* {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

a {
    font-size: 10px;
    margin: 0 10px 0 10px
}

h1 {

}

ul li {
  float: left;
}

#heading {
    display: flex;
    height: 100px;
    background-color: #6543a0;
}

#navheader {
    display: flex;
    align-items: right;
}

#navfooter {

}