* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
}

a:hover {
    color: #ffcc00;
    text-decoration: underline;
}



#heading {
    height: 100px;
    background-color: #6543a0;
    align-items: center;
}

#navheader {
    display: flex;
    align-content: center;
}
