* {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

a {
    font-size: 10px;
}

h1 {

}

#heading {
    display: flex;
    float: right;
    align-items: center;
    height: 100px;
    background-color: #6543a0;
}

#navheader {

}

#navfooter {

}